/* I'm so sorry for this. */


@media (min-width: 1280px) {
  .wrapper {
    width: 1280px;
  }
}

@media (max-width: 1279px) {
  img {
    width: 100%;
    height: 100%;
  }

  .wrapper {
    width: 983px;
  }

  .grid-1-col {
    width: 190px;
  }

  .grid-2-col {
    width: 413px;
  }

  .grid-3-col {
    width: 628px;
  }

  .grid-4-col {
    width: 858px;
  }

  .press-list li {
  	width: 190px;
  }

  .press-list li.press-wide {
  	width: 404px;
  }

}

@media (max-width: 982px) {

	.wrapper {
		width: 100%;
	}

	.header {
    padding-top: 24px;
    padding-bottom: 24px;
	}

  .product-flex-list {
    margin-bottom: 0px;
  }

  .col-float-right {
    float: none;
  }

  .type-post,
  .type-page,
  .type-surface {
    margin-left: 46px;
    margin-right: 46px;
  }

	.logo {
		margin: 0;
		float: none;
		text-align: left;
	}

	.nav {
		float: none;
		margin: 0;
	}

  .site-margin {
    margin: 0 2%;
  }

  h3.site-margin {
    margin-left: 42px;
  }

  h3 {
    margin-left: 2%;
  }

  .entry-content {
    width: 95%;
  }

  .product-additional-text {
    padding-right: 62px;
  }

	.product-list li {
		width: 46%;
		margin: 2%;
	}

  .grid-1-col,
  .grid-2-col,
  .press-list li {
    width: 46%;
    margin: 2%;
    margin-bottom: 0;
  }

  .grid-3-col,
  .grid-4-col,
  .press-list li.press-wide {
    width: 96%;
    margin: 2%;
    margin-bottom: 0;

  }

	.product-list li:after {

	}

	.product-list li .product-image img {
		width: 100%;
		height: 100%;
	}

  .no-margin-mobile {
    margin-left: 0;
    margin-right: 0;
  }

}

/*@media (max-width: 680px) {

  .wrapper {
    width: 100%;
  }

  .header {
    padding: 24px;
  }

  .product-flex-list {
    margin-bottom: 0px;
  }

  .type-post,
  .type-page,
  .type-surface {
    margin-left: 24px;
    margin-right: 24px;
  }

  .site-margin {
    margin: 0 0;
  }

  .product-list,
  .product-flex-list,
  .type-page {
    padding: 0 6%;
  }

	.product-list li {
		width: 99.5%;
		margin: 0.5%;
		margin-bottom: 32px;
	}

  h3 {
    margin-left: 0.5%;
    font-size: 20px;
  }

  .entry-content {
    width: 85%;
  }

  .entry-content p {
    font-size: 16px;
    line-height: 20px;
  }
}*/

@media (max-width: 414px) {
	.logo {
		width:60%;
	}
	.nav, .nav ul {
		width: 100%;
		font-size: 14px;
	}
}
