/* html element 62.5% font-size for REM use */
html {
	font-size:62.5%;
	padding: 0;
	margin: 0;
}
body {
	font:300 11px/1.4 'Source Sans Pro', Helvetica, Arial, sans-serif;
	color:#444;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: #000;
}

@media (min-width: 1280px) {
  .wrapper {
    width: 1280px;
  }
}

@media (max-width: 1279px) {
  .wrapper {
    width: 983px;
  }
}

/*------------------------------------*\
    STRUCTURE
\*------------------------------------*/

.wrapper {
	margin:0 auto;
	position:relative;
	padding-top: 126px;
	overflow: auto;
}

.header {
	display: block;
	width: inherit;
	padding: 0 62px;
	padding-top: 36px;
	height: 126px;
	background: #fff;
	position: fixed;
	z-index: 2;
	top: 0;
}

/* logo */
.logo {
	display: block;
	float: left;
	width: 226px;
}
.logo-img {
	display: block;
	width: 100%;
}
/* nav */
.nav {
	display: block;
	float: right;
	width: 265px;
}

.nav ul {
	display: block;
	list-style: none;
	font-size: 17px;
	color: #000;
	font-weight: normal;
	width: 265px;
	margin-top: 23px;
	padding: 0;
	display: flex;
	justify-content: space-between;
}

.nav ul li {
	padding: 0;
}

.nav ul li.current-menu-item {
	font-weight: 700;
}
