/* html element 62.5% font-size for REM use */
*,
*:after,
*:before {
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}

html {
	font-size:62.5%;
	padding: 0;
	margin: 0;
}
body {
	font:300 11px/1.4 'Source Sans Pro', Helvetica, Arial, sans-serif;
	color:#444;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: #000;
}

p {
	font-size: 20px;
	line-height: 32px;
}

h1 {

}

h2 {

}

h3 {
	font-size: 24px;
	font-weight: 400;
	text-transform: uppercase;
	margin: 21px 0 21px 16px;
}

h4 {
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
	margin: 0;
}

.site-margin {
	margin: 0 62px;
}
/*------------------------------------*\
    STRUCTURE
\*------------------------------------*/

.wrapper {
	margin:0 auto;
	position:relative;
	padding-top: 105px;
	overflow: auto;
}

.header {
	display: block;
	width: inherit;
	padding: 0 62px;
	padding-top: 36px;
	height: 126px;
	background: #fff;
	position: fixed;
	z-index: 2;
	top: 0;
}

/* logo */
.logo {
	display: block;
	float: left;
	width: 226px;
}
.logo-img {
	display: block;
	width: 100%;
}
/* nav */
.nav {
	display: block;
	float: right;
	width: 265px;
}

.nav ul {
	display: block;
	list-style: none;
	font-size: 17px;
	color: #000;
	font-weight: normal;
	width: 265px;
	margin-top: 23px;
	padding: 0;
	display: flex;
	justify-content: space-between;
}

.nav ul li {
	padding: 0;
}

.nav ul li.current-menu-item,
.nav ul li:hover {
	font-weight: 700;
}

/* CONTENT */

.content-area {
	overflow: auto;
}

.grid-1-col {
	margin: 0 16px;
	width: 265px
}

.grid-2-col {
	margin: 0 16px;
	width: 562px;
}

.grid-3-col {
	margin: 0 16px;
	width: 859px;
}

.grid-4-col {
	width: 1156;
	margin: 0 16px;
}

.col-float-left {
	display: block;
	float: left;
}

.col-float-right {
	display: block;
	float: right;
}

/* Image Description */

.image-description {
	padding: 0;
	margin: 4px 0 0 0;
	font-size: 15px;
	line-height: 19px;
	color: #666666;
}

/* FOOTER */

.site-footer {
	width: 174px;
	height: 40px;
	margin: 54px auto 70px auto;
}

.site-footer ul {
	overflow: hidden;
	list-style: none;
	padding: 0;
}

.site-footer ul li {
	display: block;
	float: left;
	margin: 0 9px;
	width: 40px;
	height: 40px;
}

.site-footer ul li img {
	padding: 0!important;
}

.site-footer .menu-image-title {
	font-size: 1px;
	position: absolute;
	z-index: -300;
	color: #fff;
}
