.site-margin h3 {
	margin-top: 32px;
	margin-bottom: 16px;
	margin-left: 0;
}

.entry-content {
	width: 75%;
	color: #000;
}

.entry-content p {
	margin: 16px 0;
}

.entry-content a {
	border-bottom: 1px solid #000;
}

.entry-content iframe {
	margin: 18px 0;
}
.press-list {
	display: block;
	width: 100%;
	padding: 0;
	margin: 0;
	margin-top: 20px;
	list-style: none;
	clear: both;
	overflow: auto;
	padding: 0 46px;
}

.press-list li {
	display: block;
	position: relative;
	float: left;
	width: 265px;
	overflow: hidden;
	margin: 16px 16px 0 16px;
}

.press-list li.press-wide {
	width: 562px;
}

.press-list li .press-image {
	display: block;
	position: relative;
}

.press-list li .press-image img {
	width: 100%;
}

.press-list li .press-description {
	height: 64px;
	text-overflow: ellipsis;
}

.press-list li .press-description p {
	padding: 0;
	margin: 4px 0 0 0;
	font-size: 15px;
	line-height: 19px;
	color: #666666;
}

.press-list li .press-description p a {
	border-bottom: 1px solid #666666;
	color: #666666;
}
.really-float-right {
	float: right;
}
.recognition {
	font-size: 16px;
	line-height: 32px;
}

.recognition ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.recognition ul li {
	padding: 8px 0;
	line-height: 20px;
}

.recognition h4.h4-spacer {
	padding-top: 16px;
}
