.product-flex-list {
	overflow: auto;
	list-style: none;
	margin: 21px 46px;
	padding: 0;
}

.product-additional-text {
	padding: 6px 62px;
	margin: 0;
}

.product-image-description {
	padding: 0;
	margin: 4px 0 0 0;
	font-size: 15px;
	line-height: 19px;
	color: #666666;
}
