@media (max-width: 982px) {
	.wrapper {
		width: 100%;
	}

	.header {
		padding-top: 24px;
		padding-bottom: 24px;
	}

	.logo {
		margin: 0 auto;
		float: none;
		text-align: center;
	}

	.nav {
		float: none;
		margin: 0 auto;
	}

	.product-list li {
		width: 46%;
		margin: 2%;
	}

}

@media (max-width: 680px) {
	.product-list li {
		width: 99.5%;
		margin: 0.5%;
		margin-bottom: 32px;
	}
}

@media (max-width: 414px) {
	.logo {
		width:60%;
	}
	.nav, .nav ul {
		width: 100%;
		font-size: 14px;
	}
}
